/* common styles */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
}

.primary-colour {
  color: #f00;
}

.dark-violet {
  color: #070211;
}

/* header section */

.header-section {
  display: flexbox;
  margin: 50px 140px 0px;
  text-align: center;
  width: 82.5%;
  max-width: 1320px;
  height: 100%;
  max-height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/BannerImage.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.header-section .title {
  padding: 117px 0px 0px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.header-section .description {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  padding: 0px 244px 117px;
}

/* main section */

.discount {
  align-items: center;
  margin: 120px 140px 0px;
  text-align: center;
}

.discount .discount-deal {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.discount .discount-text {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.discount .discount-header {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.discount img {
  margin-bottom: 120px;
}
