/* common styles */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
}

/* header section */

.header-section {
  display: flexbox;
  margin: 50px 140px 0px;
  text-align: center;
  width: 82.5%;
  /* width: 1320px; */
  max-width: 1320px;
  height: 100%;
  max-height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/BannerImage.png);
  background-position: center;
  /* background-size: 82.5%; */
  background-size: 100%;
  /* background-origin: border-box; */
  background-repeat: no-repeat;
  border-radius: 16px;
}

.header-section .title {
  padding: 117px 0px 0px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  /* block-size: auto;
  writing-mode: horizontal-tb; */
}

.header-section .description {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  padding: 0px 344px 117px;
  /* block-size: auto;
  writing-mode: horizontal-tb; */
  /* width: 632px;
  height: 190px; */
}

/* main section */

.discount {
  align-items: center;
}
